$mycolors: (
    light-cyan: #5FB9B8,
    Cyan: hsl(179, 62%, 43%),
    Bright-Yellow: hsl(71, 73%, 54%),
    Light-Gray: hsl(204, 43%, 93%),
    Grayish-Blue: hsl(218, 22%, 67%)
);
$desktop: 1200px;
@mixin desktop{
    @media(min-width: #{$desktop}) {
        @content
    }
}


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: map-get($mycolors, Light-Gray);
    // background-color: red;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: grid;
    grid-template-rows: auto auto auto;
    font-family: 'Karla', sans-serif;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 5%;    
    margin-bottom: 5%;    
    border-radius: 10px;
    overflow: hidden;
    height: max-content;

    @include desktop{
        // width: 55vw;
        max-width: 50em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .join{
        background-color: white;
        padding: 2em 1.8em 1.8em 1.8em;
        height: max-content;

        @include desktop{
            grid-column: 1 / span 2;
            padding: 3em 4em 3em 3em;
        }
    }
    .sub-price{
        background-color: map-get($mycolors, Cyan);
        padding: 2em 1.8em 1em 1.8em;
        height: max-content;

        @include desktop{
            padding: 3em 3em 3em 3em;
        }
    }
    .faq{
        background-color: map-get($mycolors, light-cyan );
        padding: 2em 1.8em 1.5em 1.8em;
        height: max-content;

        @include desktop{
            padding: 3em;
            height: auto;
        }
    }
}
.join{
    h1{
        color: map-get($mycolors, Cyan);
        font-size: 1.2rem;
        margin-bottom: 1.2em;
        font-weight: 700;
        @include desktop{
            font-size: 1.75rem;

        };
    }
    h2{
        color: map-get($mycolors, Bright-Yellow );
        font-size: 1rem;
        margin-bottom: 1.2em;
        @include desktop{
            font-size: 1.3rem;
            margin-bottom: 0.6em
        };

    }
    p{
        font-size: 14px;
        color: map-get($mycolors, Grayish-Blue );
        line-height: 1.8em;
        @include desktop{
            font-size: 19px;
            line-height: 1.8em
        };
    }
}
.sub-price{
    h1{
        color: map-get($mycolors, Light-Gray);
        font-size: 1.15rem;
        margin-bottom: 1em;
        font-weight: 700;
        margin-bottom: 0.2em;

        @include desktop{
            font-size: 1.4rem;
            margin-bottom: 1em;
        }
    }

    span.price{
        color: map-get($mycolors, Light-Gray );
        display: flex;
        align-items: center;
        gap: 5%;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0.2em;

        @include desktop{
            font-size: 17px;
            margin-bottom: 0.8em;
        }
    }
    span:first-child{
        font-size: 2rem;
        font-weight: 700;

        @include desktop{
            font-size: 2.4rem;
           
        }
    }
    p{
        color: map-get($mycolors, Light-Gray );
        font-size: 15px;
        margin-bottom: 2.5em;
        @include desktop{
            font-size: 19px;
            margin-bottom: 2.0em;
        }
    }
    button{
        width: 100%;
        height: 3.5em;
        border: none;
        border-radius: 6px;
        background-color: map-get($mycolors, Bright-Yellow );
        color: white;
        font-size: 15px;
        font-weight: 700;
        font-family: 'Karla', sans-serif;
        margin: 0.5em 0 ;
        cursor: pointer;
        @include desktop{
            font-size: 17px;
            margin: 0;
        }
    }
}
.faq{
    h1{
        font-size: 1.15rem;
        color: map-get($mycolors, Light-Gray );
        margin-bottom: 1em;
        font-weight: 700;
        @include desktop{
            font-size: 1.4rem;
            margin-bottom: 1em;
        }
    }
    p{
        font-size: 14px;
        color: map-get($mycolors, Light-Gray);
        line-height: 1.5em;

        @include desktop{
            font-size: 17px;
            line-height: 1.5em;
        }
    }
}