* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(204deg, 43%, 93%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-rows: auto auto auto;
  font-family: "Karla", sans-serif;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
  overflow: hidden;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
@media (min-width: 1200px) {
  main {
    max-width: 50em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}
main .join {
  background-color: white;
  padding: 2em 1.8em 1.8em 1.8em;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
@media (min-width: 1200px) {
  main .join {
    grid-column: 1/span 2;
    padding: 3em 4em 3em 3em;
  }
}
main .sub-price {
  background-color: hsl(179deg, 62%, 43%);
  padding: 2em 1.8em 1em 1.8em;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
@media (min-width: 1200px) {
  main .sub-price {
    padding: 3em 3em 3em 3em;
  }
}
main .faq {
  background-color: #5FB9B8;
  padding: 2em 1.8em 1.5em 1.8em;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
@media (min-width: 1200px) {
  main .faq {
    padding: 3em;
    height: auto;
  }
}

.join h1 {
  color: hsl(179deg, 62%, 43%);
  font-size: 1.2rem;
  margin-bottom: 1.2em;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .join h1 {
    font-size: 1.75rem;
  }
}
.join h2 {
  color: hsl(71deg, 73%, 54%);
  font-size: 1rem;
  margin-bottom: 1.2em;
}
@media (min-width: 1200px) {
  .join h2 {
    font-size: 1.3rem;
    margin-bottom: 0.6em;
  }
}
.join p {
  font-size: 14px;
  color: hsl(218deg, 22%, 67%);
  line-height: 1.8em;
}
@media (min-width: 1200px) {
  .join p {
    font-size: 19px;
    line-height: 1.8em;
  }
}

.sub-price h1 {
  color: hsl(204deg, 43%, 93%);
  font-size: 1.15rem;
  margin-bottom: 1em;
  font-weight: 700;
  margin-bottom: 0.2em;
}
@media (min-width: 1200px) {
  .sub-price h1 {
    font-size: 1.4rem;
    margin-bottom: 1em;
  }
}
.sub-price span.price {
  color: hsl(204deg, 43%, 93%);
  display: flex;
  align-items: center;
  gap: 5%;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0.2em;
}
@media (min-width: 1200px) {
  .sub-price span.price {
    font-size: 17px;
    margin-bottom: 0.8em;
  }
}
.sub-price span:first-child {
  font-size: 2rem;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .sub-price span:first-child {
    font-size: 2.4rem;
  }
}
.sub-price p {
  color: hsl(204deg, 43%, 93%);
  font-size: 15px;
  margin-bottom: 2.5em;
}
@media (min-width: 1200px) {
  .sub-price p {
    font-size: 19px;
    margin-bottom: 2em;
  }
}
.sub-price button {
  width: 100%;
  height: 3.5em;
  border: none;
  border-radius: 6px;
  background-color: hsl(71deg, 73%, 54%);
  color: white;
  font-size: 15px;
  font-weight: 700;
  font-family: "Karla", sans-serif;
  margin: 0.5em 0;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .sub-price button {
    font-size: 17px;
    margin: 0;
  }
}

.faq h1 {
  font-size: 1.15rem;
  color: hsl(204deg, 43%, 93%);
  margin-bottom: 1em;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .faq h1 {
    font-size: 1.4rem;
    margin-bottom: 1em;
  }
}
.faq p {
  font-size: 14px;
  color: hsl(204deg, 43%, 93%);
  line-height: 1.5em;
}
@media (min-width: 1200px) {
  .faq p {
    font-size: 17px;
    line-height: 1.5em;
  }
}/*# sourceMappingURL=main.css.map */